<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movietrivia</title>
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <link href="http://fonts.cdnfonts.com/css/games" rel="stylesheet">
    <style>@import url('http://fonts.cdnfonts.com/css/games');</style>
</head>

<body>
<section class="contenedor-fondo-animado">
    <div class="animacion">
        <!--  -->
        <span class="uno"></span>
        <span class="dos"></span>
        <span class="tres"></span>
        <span class="cuatro"></span>
        <!--  -->
        <span class="uno"></span>
        <span class="dos"></span>
        <span class="tres"></span>
        <span class="cuatro"></span>
        <!--  -->
        <span class="uno"></span>
        <span class="dos"></span>
        <span class="tres"></span>
        <span class="cuatro"></span>
    </div>
    <div class="seccion-contenido">
        <div class="contenido">
            <h4>Welcome to Movietrivia</h4>
            <ul>
                <li><a href="http://localhost:5000/play">PLAY GAME</a></li>
                <li><a href="http://localhost:5000">Rules</a></li>
                <li><a href="http://localhost:5000/scoreboard">SCOREBOARD</a></li>
                <li><a href="http://localhost:5000/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</section>
</body>

</html>