<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/play.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
    <title>Movietrivia - Play</title>
</head>
<body>
    <div class="preloader">
        <h5>Preparado...</h5>
        <div class="spinner">
            <div class="spinner">
                <div class="spinner">
                    <div class="spinner"></div>
                </div>
            </div>
        </div>
    </div>
    <audio autoplay>
        <source src="{{ url_for('static', filename='sound/tema.mp3')}}" type="audio/mpeg">
    </audio>
    <section class="contenedor-fondo-animado">
        <div class="animacion">
            <!--  -->
            <span class="uno"></span>
            <span class="dos"></span>
            <span class="tres"></span>
            <span class="cuatro"></span>
            <!--  -->
            <span class="uno"></span>
            <span class="dos"></span>
            <span class="tres"></span>
            <span class="cuatro"></span>
            <!--  -->
            <span class="uno"></span>
            <span class="dos"></span>
            <span class="tres"></span>
            <span class="cuatro"></span>
        </div>
        <div class="seccion-contenido">
            <div class="contenido">
                <div class="container">
                    <h4>MovieTrivia</h4>
                    <div class="question">
                        <p id="q"></p>
                    </div>
                    <div id="bar-holder">
                    </div>
                    <div class="answer">
                        <input type="radio" id="radioFirst" name="multiple">
                        <label for="radioFirst" class="btn btn1" id="first"></label>
                        <input type="radio" id="radioSecond" name="multiple">
                        <label for="radioSecond" class="btn btn2" id="second"></label>
                        <input type="radio" id="radioThird" name="multiple">
                        <label for="radioThird" class="btn btn3" id="third"></label>
                        <input type="radio" id="radioFourth" name="multiple">
                        <label for="radioFourth" class="btn btn4" id="fourth"></label>
                        <!-- <button class="submit" id="submit">Submit</button> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" id="triggerModal">
    </button>

    <!-- Modal -->
    <div class="modal fade" id="modal-finish-game" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title text-center" id="exampleModalLongTitle">Juego finalizado!</h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                </div>
                <div class="modal-body">
                    <p id="modal-show-result"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button" id="home">
                        <span class="button__text">Home</span>
                        <span class="button__icon">
                          <ion-icon name="home-outline"></ion-icon>
                        </span>
                      </button>
                    <button type="button" class="button" data-dismisss="modal" id="play-again">
                        <span class="button__text">Play Again</span>
                        <span class="button__icon">
                          <ion-icon name="play-outline"></ion-icon>
                        </span>
                      </button>
                    <button type="button" class="button" id="scoreboard">
                        <span class="button__text">Score</span>
                        <span class="button__icon">
                          <ion-icon name="stats-chart-outline"></ion-icon>
                        </span>
                      </button>
                    <button type="button" class="button" id="logout">
                        <span class="button__text">Logout</span>
                        <span class="button__icon">
                          <ion-icon name="exit-outline"></ion-icon>
                        </span>
                      </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#triggerModal").click(function(){
                $("#modal-finish-game").modal({
                    backdrop: 'static',
                    keyboard: false
                });
            });
        });
    </script>
    <script src="{{ url_for('static', filename='js/play.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>