<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rules.css')}}">
    <title>Reglas Movietrivia</title>
    <style>@import url('http://fonts.cdnfonts.com/css/games');</style>
</head>
<body>  
<section class="contenedor-fondo-animado">
    <div class="animacion">
        <!--  -->
        <span class="uno"></span>
        <span class="dos"></span>
        <span class="tres"></span>
        <span class="cuatro"></span>
        <!--  -->
        <span class="uno"></span>
        <span class="dos"></span>
        <span class="tres"></span>
        <span class="cuatro"></span>
        <!--  -->
        <span class="uno"></span>
        <span class="dos"></span>
        <span class="tres"></span>
        <span class="cuatro"></span>
    </div>
    <div class="seccion-contenido">
        <div class="contenido">
            <h4>Reglas de Movietrivia</h4>
            <h5>Jugabilidad de Movietrivia:</h5>
            <p>El Jugador tendrá 60 segundos para responder tantas preguntas como sea posible, aparecerá una
                nueva pregunta cada 15 segundos o si el jugador selecciona una respuesta. Todas las preguntas están
                relacionadas con el mundo del cine.
            </p>
            <br>
            <p>Mientras más preguntas puedas contestar, más puntos sumarás!</p>
            <br>
            <p> - Si el jugador responde la pregunta incorrectamente, se le restarán 10 puntos.</p>
            <br>
            <p> - Si el jugador responde la pregunta correctamente, se le sumarán 50 puntos.</p>
            <br>
            <p> - Si el jugador no responde dentro de los 15 segundos, se pasa a la siguiente pregunta.</p>
            <br>
            <p> - Mientras mas preguntas logre el jugador mayor puntaje tendrá en la tabla de puntuaciones!</p>
            <br>
            <p> - Reta a tus amigos para ver quién sabe más sobre peliculas! Movietrivia</p>
            <br>
            <ul>
            <li><a href="http://localhost:5000/home">Empezar!</a></li>
            </ul>
        </div>
    </div>
</section>
</body>
</html>