<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='rules.css')}}">
    <title>Reglas Movietrivia</title>
    <style>@import url('http://fonts.cdnfonts.com/css/games');</style>
</head>
<body>  
<section class="contenedor-fondo-animado">
    <div class="animacion">
        <!--  -->
        <span class="uno"></span>
        <span class="dos"></span>
        <span class="tres"></span>
        <span class="cuatro"></span>
        <!--  -->
        <span class="uno"></span>
        <span class="dos"></span>
        <span class="tres"></span>
        <span class="cuatro"></span>
        <!--  -->
        <span class="uno"></span>
        <span class="dos"></span>
        <span class="tres"></span>
        <span class="cuatro"></span>
    </div>
    <div class="seccion-contenido">
        <div class="contenido">
            <h4>Reglas de Movietrivia</h4>
            <h5>Jugabilidad de Movietrivia:</h5>
            <p>El Jugador tendra 60 segundos para responder todas las preguntas que logre en ese periodo de tiempo</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, voluptates?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus autem minus tenetur ipsum! Placeat odit?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, voluptates?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus autem minus tenetur ipsum! Placeat odit?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, voluptates?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus autem minus tenetur ipsum! Placeat odit?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, voluptates?</p>

        </div>
    </div>
</section>
</body>
</html>