<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rules.css')}}">
    <title>Reglas Movietrivia</title>
    <style>@import url('http://fonts.cdnfonts.com/css/games');</style>
</head>
<body>  
<section class="contenedor-fondo-animado">
    <div class="animacion">
        <!--  -->
        <span class="uno"></span>
        <span class="dos"></span>
        <span class="tres"></span>
        <span class="cuatro"></span>
        <!--  -->
        <span class="uno"></span>
        <span class="dos"></span>
        <span class="tres"></span>
        <span class="cuatro"></span>
        <!--  -->
        <span class="uno"></span>
        <span class="dos"></span>
        <span class="tres"></span>
        <span class="cuatro"></span>
    </div>
    <div class="seccion-contenido">
        <div class="contenido">
            <h4>Reglas de Movietrivia</h4>
            <h5>Jugabilidad de Movietrivia:</h5>
            <p>El Jugador tendra 60 segundos para responder todas las preguntas que logre en ese periodo de tiempo</p>
            <br>
            <p>Apareceran preguntas relacionadas sobre Peliculas, mientras mas preguntas puedas contestar mas puntos sumaras!</p>
            <br>
            <p> - El jugador tendra 15 segundos para lograr responder cada pregunta</p>
            <br>
            <p> - Si el jugador responde la pregunta incorrectamente, se le descontara 10 puntos por respuesta incorrecta</p>
            <br>
            <p> - Si el jugador responde la pregunta correctamente, se le sumaran 50 puntos por respuesta correcta</p>
            <br>
            <p> - Si el jugador no responde a la pregunta, se le sumaran 0 puntos por respuesta sin decisión</p>
            <br>
            <p> - Mientras mas preguntas logre el jugador mayor puntaje tendrá en la tabla de puntuaciones!</p>
            <br>
            <p> - Reta a tus amigos para ver quien es el mejor sobre peliculas! Movietrivia</p>
            <br>
            <ul>
            <li><a href="http://localhost:5000/home">Empezar!</a></li>
            </ul>
        </div>
    </div>
</section>
</body>
</html>